__pycache__/
*.pyc
*.egg-info/
/build/
/dist/
/out/
/examples/trained_models/
.pytest_cache/
*.o
*.rel
*.lst
*.sym
*.map
*.mem
*.lk
*.rst
*.asm
*.elf
*.hex
*.bin
.venv/
venv/
*.ihx
*.adb
*.cdb
*.omf
.DS_Store
